body {
    background-color: #050606;
    display: grid;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
    margin: 5px;
    color: white;
}